.modal--content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

.btn-reset {
  background-color:rgb(221, 221, 221);
}

fieldset {
  border: 1px solid #aaa !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}

.project--label {
  margin-bottom: .5rem;
}

#title, #user, #body {
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}

.ticket--details {
  margin: 1rem 0;
}
