<div class="ticket-details--container">
  <div class="selected-ticket--title">{{ ticket?.title }}</div>
  <div class="selected-ticket--user"> {{ticket?.user}} </div>
  <hr class="hr hr--top">

  <form class="ticket-details--form">
    <div>
      <label for="fileName" class="label-filename">Input file</label> <br/>
      <input type="file" id="fileName" class="fileName" name="fileName" />
    </div>

    <hr class="hr hr--bottom">

    <div class="comment-title">
        <h3>Comments</h3>
        <button type="button" class="btn btn-comment">Add comment</button>
    </div>


    <div class="comment-container" *ngIf="ticket?.comment"></div>
  </form>
</div>
