.project-list--container {
  height: 95vh;
  width: 16rem;
  background-color: #0747a6;
}

.project-list--name {
  color: #eee;
  padding: 1rem;
  font-weight: bold;
}

.project-list-ul {
  list-style: none;
  margin: 0;
  padding: 0.2rem;
}

ul.project-list-ul li {
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  color: #eee;
}

ul.project-list-ul li:hover {
  background-color: #04265881;
  color: #fff;
  cursor: pointer;
}

.active {
  background-color: #04265881;
  color: #fff !important;
}

.bullet {
  font-size: 1.6rem;
}
